<nav class="nav">
    <img src="images/sales-logo.png" alt="an image of logo">
    <ul class="list list--inline nav--list">
        <li class="list__item">Features</li>
        <li class="list__item">Resources</li>
        <li class="list__item">Enterprise</li>
        <li class="list__item">Pricing</li>
    </ul>
    <div class="btn-bars-container">
        <span class="auth-btns">
            <button class="btn ">Log in</button>
            <button class="btn btn--outline">Sign up</button>
        </span>
        <span class="nav__bars"><i class="fa-solid fa-bars"></i></span>
    </div>
</nav>