<section>
    <div class="plans grid grid--1x3">
        <div class="card plan__card">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#overview"></use>
            </svg>
            <h3>Sales Overview</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit perferendis voluptatibus laboriosam officiis?</p>
            <a href="#" class="arrow-link">Learn more <span class="arrow__icon"><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
        <div class="card plan__card">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#setting"></use>
            </svg>
            <h3>Pipeline Management</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit perferendis voluptatibus laboriosam officiis?</p>
            <a href="#" class="arrow-link">Learn more <span class="arrow__icon"><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
        <div class="card plan__card">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#bars"></use>
            </svg>
            <h3>Conversion Rate Analysis</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit perferendis voluptatibus laboriosam officiis?</p>
            <a href="#" class="arrow-link">Learn more <span class="arrow__icon"><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
        <div class="card plan__card">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
            <h3>Real time data</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit perferendis voluptatibus laboriosam officiis?</p>
            <a href="#" class="arrow-link">Learn more <span class="arrow__icon"><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
        <div class="card plan__card">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#bell"></use>
            </svg>
            <h3>Real-Time Notification</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit perferendis voluptatibus laboriosam officiis?</p>
            <a href="#" class="arrow-link">Learn more <span class="arrow__icon"><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
        <div class="card plan__card">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#bars-round"></use>
            </svg>
            <h3>Revenue Forecasting</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit perferendis voluptatibus laboriosam officiis?</p>
            <a href="#" class="arrow-link">Learn more <span class="arrow__icon"><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
    </div>
</section>